<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="ico.png" type="image/x-icon">
  <title>Админка</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="styles.css">
  <script src="vue.min.js"></script>
</head>

<body><div id="app">
  <nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <div class="container">

      <img src="ico.png" width="40px" height="40px" class="mr-2">
      <a class="navbar-brand" href="#">Доставка еды</a>
        <form class=" ml-auto form-inline">
          <input type="button" value="Сайт" class="btn btn-custom" onClick='location.href="index.html"'>
        </form>
    </div>
  </nav>


  <div class="container pt-3 pb-3" style="background-color: #FDF4E3;">

    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>Если долго грузится список, перезагрузите страницу.</strong>
      <button type="button" class="close btn" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="mb-5 p-3" style="background-color: #ffffff; border: 1px solid rgba(0,0,0,.125); border-radius: 5px;">
      <h2 class="mb-3 text-center">Предприятия общественного питания города Москвы</h2>
      <div class="row d-flex flex-row flex-wrap align-items-end justify-content-between when-loaded">
        <div class="col-sm-6 col-lg-6 mb-3">
          <h5 class = "when-loaded">Название</h5>
          <input type="text" v-model="filterName" class="form-control when-loaded">
        </div>

        <admarea-select-cell></admarea-select-cell>

        <div class="col-sm-12 col-lg-6 when-loaded">
          <h5 class = "when-loaded">Количсетво посадочных мест</h5>
          <div class="d-flex flex-row flex-wrap align-items-center when-loaded row">
            <div  class="col-sm-12 col-lg-6 mb-3 d-flex align-items-center">
              <h6 class="when-loaded col-2">от</h6>
            <input class="form-control no when-loaded col" v-model="minSeats" type="number">
          </div>
          <div  class="col-sm-12 col-lg-6 mb-3 d-flex align-items-center">
            <h6 class="when-loaded col-2">до</h6>
            <input class="form-control no when-loaded col" v-model="maxSeats" type="number">
          </div>
          </div>
        </div>

        <div class="col-sm-12 col-lg-6 when-loaded">
          <h5 class = "when-loaded">Дата создания</h5>
          <div class="d-flex flex-row flex-wrap align-items-center when-loaded row">
            <div  class="col-sm-12 col-lg-6 mb-3 d-flex align-items-center">
            <h6 class="when-loaded col-2">с</h6>
            <input type="date" class="form-control when-loaded col" v-model="dateStart">
          </div>
          <div  class="col-sm-12 col-lg-6 mb-3 d-flex align-items-center">
            <h6 class="when-loaded col-2  ">по</h6>
            <input type="date" class="form-control when-loaded col" v-model="dateEnd">
          </div>
          </div>
        </div>
        
        <isnet-select-cell></isnet-select-cell>
        <district-select-cell></district-select-cell>
        <socialprivileges-select-cell></socialprivileges-select-cell>

        <type-select-cell></type-select-cell>
        <div class="col-sm-6 col-lg-4 mb-3 when-loaded">
          <h5 class="mr-3 when-loaded">Количество записей</h5>
          <input class = "form-control when-loaded" type="text" v-model="itemsLimit" />
        </div>
      </div>

      <div class="overflow-auto d-flex flex-column ">
        <div class="d-flex justify-content-center loading-spinner">
          <div class="spinner-border loading-spinner" role="status">
            <span class="sr-only loading-spinner">Loading...</span>
          </div>
        </div>

        <item-table-cell></item-table-cell>

        <div class="d-flex flex-row flex-wrap justify-content-between">
          <pages-cell></pages-cell>

          <div>
            <button type="button" class="btn btn-success col-12 when-loaded" data-toggle="modal"
              data-target="#newModal" @click="newItemForm">Добавить запись</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade bd-example-modal-lg" id="viewModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel1" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
    <modal-view v-if="currentCafe"></modal-view>
</div>
</div>
  <div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <modal-edit v-if="currentCafe"></modal-edit>
    </div>
  </div>

  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
    aria-labelledby="viewModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <delete-model v-if="currentCafe"></delete-model>
  </div>
</div>

<footer class="footer mt-auto py-3 footer-custom">
  <div class="container">
    <span class="text">Здесь могли быть мои контакты</span>
  </div>
</footer>

<script src="jquery-3.5.1.min.js"
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
  integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
  crossorigin="anonymous"></script>
<script>let isAdmin = true;</script>
<script src="script.js"></script>
</div>

</body>

</html>