/* .navbar-custom{
    background-color: #7B3F00;
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #FFFFFF;
}
.navbar-custom .navbar-nav .nav-link {
    color: #F5F5DC;
}
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #FFFFFF; 
} */
.btn-custom{
    background-color: #F5F5DC;
    color: #7B3F00;
}

.change{
    width: 40px;
}
.amount{
    text-align: center;
    max-width: 60px;
    -moz-appearance: textfield;
}

.amount::-webkit-inner-spin-button { 
display: none;
}

.btn{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.alert-custom{
    background-color: #F5F5DC;
    color: #7B3F00;
}
.footer-custom{

    color:#F5F5DC;
     background-color: #7B3F00;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #d4edda;
}

.no::-webkit-inner-spin-button { 
    display: none;
}

.card-text:last-child {
    margin-bottom: 1rem;
}